/* ipad pro */

@media (max-width: 1024px) {

	main {
		background-image: none;
	}

/* header */

	.header {
		max-width: 960px;
	}

	.header__list {
		gap: 16px;
	}

/* container */

	.container {
	margin: 0 auto;
	max-width: 960px;
	}

/* content */

	.content {
    padding-top: 40px;
	}

/* tegs panel */
	
	.tegspanel__list {
		flex-wrap: wrap;
		min-width: 934px;

	}

/* article */

	.img960 {
		max-height: 331px;
	}

	.article__author_mob {
		display: block;
		color: #2963A3;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
	}

	.dafter:after {
		content: "·";
		color: #494949;
		font-size: 14px;
		font-weight: 400;
		text-align: center;
		margin-left: 8px;
	}

	.mobnone {
		display: none;
	}

	.article__wrap {
		max-width: 714px;
		margin-bottom: 24px;
	}

	.article__nav, .under_content-line,
	.conclusion, .imob414 {
		display: none;
	}
 	
 	.info__card, .info__card_face,
 	.info__card_pres, .info__card_sess {
 		max-width: 222px;
 	}

 	.info__btn {
 		min-width: 182px;
 		margin: 24px 20px;
 	}

 	.info__text {
 		padding-right: 20px;
 		padding-left: 20px;
 	}

 	.info_img {
 		margin: 24px 51px 16px 51px;
 	}

 	.info__card_container {
 		padding: 0 24px 24px 24px;
 	}

 	.face__btn {
 		min-width: 174px;
 	}

 	.sess_con {
 		padding: 24px;
 	}

 	.nr-eggs {
 		margin-bottom: 42px;
 	}

 	.nr-run {
 		margin-bottom: 48px;
 	}

 	.mob96 {
 		display: block;
 	}

/* product image */
	
	.product__image1 {
		max-width: 468px;
		
	}

	.product__image2 {
		max-width: 304px;

	
	}
	.des {
		display: none;
	}

	.mob960 {
		display: block;
	}

	.tlt-sleep {
		min-width: 272px;
	}

	.nr-sleep, .nr-working {
    	margin-bottom: 28px;
	}

	.nr-swimming, .nr-comm {
		margin-bottom: 14px;
	}

	.nr-angry, .nr-walk {
		margin-bottom: 40px;
	}

	.btn__more {
		margin: 35px auto 60px;
	}

/* footer */
	.footer__container {
		max-width: 960px;

	}

	a.footer__nav_links {
		margin-right: 21px;	
	}

	.footer__subscribe {
		margin-right: 21px;
		min-width: 450px;
	}

	.footer__subscribe_btn {
		right: 65px;
	}

	.footer_line {
		margin: 24px 0 16px;
	}


}


/*ipad mini*/

@media (max-width: 768px) {
	
	main {
		background-image: none;
	}

/* header */

	.header__btn {
		display: none;
	}

	.header__nav-btn {
		background-color: transparent;
		border: none;
		display: block;
		padding: 0;
		cursor: pointer;
	}

	.header__nav {
		display: none;
	}

	.header {
		max-width: 728px;
	}

	.header:after {
		display: none;
	}

/* container */

	.container {
	margin: 0 auto;
	max-width: 728px;
	}

/* tegs panel */
	
	.tegspanel__list {
		flex-wrap: wrap;
		min-width: 728px;

	}

/* article list */
	
	.article__list1 {
		grid-template-columns: repeat(1, 1fr);
		max-width: 728px;
	}

	.article__list2 {
		grid-template-columns: repeat(2, 1fr);
		max-width: 728px;
	}

	.nr-run, .nr-eggs {
		margin-bottom: 44px;
	}

/* content article */

	.content {
    	display: grid;
    	grid-template-columns: 100%;
	}

	.wrap__info {
		display: grid;
		grid-template-columns: repeat(2, auto);
		grid-template-rows: repeat(2, auto);
		column-gap: 16px;
		row-gap: 36px;
		margin-bottom: 59px;
	}

	.info__card,
	.info__card_face,
	.info__card_pres,
	.info__card_sess {
		max-width: 356px;
	}

	.info__card,
	.info__card_face {
		min-height: 481px;
	}

	.info__card_pres,
	.info__card_sess {
		min-height: 242px;
		margin: 0;
		padding: 0;
	}

	.info__card_pres {
		background-image: url(../svg/presentsmob.svg),
		url(../svg/confi.svg);
		background-repeat: no-repeat, no-repeat;
		background-position: bottom, top left;
	}

	.sess_con {
		padding: 16px 42.93px 4px 21.47px;
	}

	.info__card_sess {
		background-image: url(../svg/boxmob.svg);
	}

	.info__image {
		padding: 22.55px 49.5px 0 49.5px;
	}

	.info_img {
		margin: 24px 117.5px 16px 117.5px;
	}

	.info__btn {
		min-width: 310px;
		margin: 24px 23px 14.45px 23px;
	}

	.title4 {
		margin: 27px 0 11px 0;
	}

	.nr-swimming {
		margin-bottom: 28px;
	}

	.nr-sleep {
		margin-bottom: 16px;
	}

	.nr-angry {
		margin-bottom: 48px;
	}

	.article__author_mob {
		display: block;
		color: #2963A3;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
	}

	.dafter:after {
		content: "·";
		color: #494949;
		font-size: 14px;
		font-weight: 400;
		text-align: center;
		margin-left: 8px;
	}

	.mobnone {
		display: none;
	}

	.Klg {
		margin-top: 28px;
	}

	#bl {
		margin-bottom: 24px;
	}

	.article__wrap {
		max-width: 728px;
	}

	.discon {
		background-image: url(../svg/Vector_mob.svg);
	}

	.article__col-2 {
		gap: 16px;
	}

	.article__wrap2 {
		gap: 8px;
	}

	.pmob {
		max-width: 418px;
	}

	.article__row-2 {
		column-gap: 16px;
	}

	.info__card_container {
	padding: 0 52.5px 36px 52.5px;
	}

	.conclusion,
	.under_content-line {
		display: none;
	}

/* product image */

	.product__image1 {
		max-width: 728px;
		max-height: 404px;
	}

	.product__image2 {
		max-width: 352px;
		min-height: 206px;
	}

	.des {
		display: none;
	}

	.mob768 {
		display: block;
	}

	.mob960 {
		display: none;
	}

/* footer */
	.footer{
		padding: 35px 20px 23px;
	}

	.footer__container {
		min-width: 728px;
	}

	.footer__inner {
	grid-template-columns: repeat(2, auto);
	grid-template-rows: repeat(2, auto);
	row-gap: 26px;

	}

	a.footer__nav_links {
		margin-right: 30px;	
	}

	.footer__subscribe {
		margin-right: 0;
		max-width: 450px;
	}

	.footer__subscribe_btn {
		right: 65px;
	}

	.footer__subscribe_title {
		text-shadow: none;
	}

	.footer_line {
		margin: 26px 0 16px 0;
	}
}

/*iphone 11 pro max*/

@media (max-width: 414px) {

/* header */
	
	.header__btn {
		display: none;
	}

	.header__nav-btn {
		background-color: transparent;
		border: none;
		display: block;
		padding: 0;
		cursor: pointer;
	}

	.header__nav {
		display: none;
	}

	.header {
		max-width: 374px;
		min-height: 72px;
	}

	.header:after {
		display: none;
	}

/* breadcrumbs */

	.braedcrumbs {
		text-wrap: nowrap;
		overflow: hidden;
	}

/* content */

	.content {
		padding-top: 32px;
	}

	.container__title {
		margin-bottom: 24px;
	}

/* container */

	.container {
		margin: 0 auto;
		max-width: 374px;
	}

/* product image */
	
	.des, .mob960, .mob768, 
	.non414, .img960  {
		display: none;
	}

	.mob414, .imob414 {
		display: block;
	}

/*article list*/

	.article__list1 {
		grid-gap: 16px;
	}

	.article__list2 {
		grid-template-columns: 1fr;
		margin-bottom: 16px;
	}

	.nr-eggs, .nr-run, .nr-sleep, .imob414 {
	margin-bottom: 62px;
	}
 	
 	.btn__more {
 		margin: 28px 96px 59px 96px;
 	}

/* tegs panel */

	.tegspanel__list {
    	flex-wrap: nowrap;
    	overflow-x: scroll;

	}

/* article */

	.article__title {
		margin-top: 0;
		font-size: 32px;
		line-height: 40px;
	}

	.article__author {
		margin: 8px 0 16px;
	}

	#on {
		margin-bottom: 16px;
	}

	.article__wrap,
	.article__wrap2 {
		padding: 16px;
	}

	.Trw {
		margin-top: 0;
	}

	.discon__par {
		margin: 0;
		margin-top: 24px;
	}

	.article__row-2 {
		display: block;
	}

	.article__col-2 {
		flex-direction: column;
		gap: 16px;
	}

	.lasex {
		margin: 0;
	}

	.wrap__info {
		grid-template-columns: 1fr;
		row-gap: 24px;
		margin: 0;
		margin-top: 56px;
		margin-bottom: 127px;

	}

	.info__card, .info__card_face,
	.info__card_pres, .info__card_sess {
    	max-width: 374px;
    	margin: 0;
	}

	.info__image {
		padding: 24px 58.5px 0 58.5px;
	}

	.title4 {
		margin: 24px 0 11px;
	}

	.info__text {
		padding: 0 32px;
	}

	.info__btn {
		margin: 0 32px 44px 32px;
	}

	.info_img {
		margin: 24px 127px 16px 127px;
	}

	.info__card_container {
		padding: 0 62px 36px 62px;
	}

	.face__btn {
		min-width: 250px;
	}

	.info__card_face {
		margin: 0;
	}

	.sess_con {
		padding: 24px;

	}

/* footer */
 	.footer{
		padding: 35px 20px 37px 19px;
	}

	.footer__container {
		min-width: 375px
	}

	.footer__inner {
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, auto);
	row-gap: 23px;
	max-width: 374px;

	}

	.footer__nav {
		column-gap: 158px;
	}

	a.footer__nav_links {
		margin: 0;
	}

	.footer__subscribe {
		min-width: 374px;
	}

	.footer__subscribe_btn {
		right: 0;
	}

	.footer__socials {
		row-gap: 20px;
	}

	.footer_line {
		margin: 20px 0;
	}

	.end {
		flex-direction: column;
		gap: 20px;
	}

}

/* iphone SE */

@media (max-width: 320px) {

/* header */

	.header__btn {
		display: none;
	}

	.header__nav-btn {
		background-color: transparent;
		border: none;
		display: block;
		padding: 0;
		cursor: pointer;
	}

	.header__nav {
		display: none;
	}

	.header {
		max-width: 288px;
		min-height: 72px;
	}

	.header:after {
		display: none;
	}

/* breadcrumbs */

	.breadcrumbs__list {
		margin-top: 24px;
	}

/* content */

	.content {
		padding-top: 24px;
	}

/* container */

	.container {
    	margin: 0 auto;
    	max-width: 288px;
	}

/* tegs panel */

	.tegspanel__list {
		margin-bottom: 24px;
	}

/* article list */

	.mob768, .mob96, .mob960, 
	.mob414, .non320 {
		display: none;
	}

	.mob320 {
		display: block;
	}

	.nr-eggs, .nr-run, 
	.nr-sleep, .imob414 {
		margin-bottom: 8px;
	}

	.tlt-sleep {
		min-width: 256px;
	}

	.btn__more {
		margin: 28px 53px 59px 53px;
	}

	.article__title {
		font-size: 24px;
		line-height: 32px;
	}

	.article__con, .Klg {
		margin: 16px 0 8px;
	}

	#on {
		margin-bottom: 8px;
	}

	#bl {
		margin-bottom: 40px;
	}

	.article__wrap, .imgbott,
	.Mb, .article__col-2,
	.article__wrap2, .article__row-2-flex,
	.Con__text {
		margin-bottom: 16px;
	}

	.Mt,{
		margin-top: 16px;
	}

	.title3 {
		font-size: 18px;
		line-height: 26px;
	}
	
	.Vbn {
		margin: 8px 0;
	}

	.wal, .discon {
		margin: 16px 0;
	}

	.article__row-2-flex {
		gap: 8px;
	}

	.wrap__info {
		margin-top: 0;
	}

	.info__card, .info__card_face, 
	.info__card_pres, .info__card_sess {
    	max-width: 288px;
    	margin: 0;
	}

	.info__image {
   		padding: 24px 15px 0 16px;
	}

	.info__text {
    	padding: 0 24px;
	}

	.info__btn {
		min-width: 239px;
		margin: 0 24px 24px 25px;
	}

	.info_img {
		margin: 24px 84px 16px 84px;
	}

	.info__card_container {
		padding: 0 19px 36px 19px;
	}

	.sess_con {
    padding: 16px;
	}

	.wrap__info {
		margin-bottom: 60px;
	}

/* footer */

	.footer {
    	padding: 35px 14px 37px 18px;
	}

	.footer__container {
		min-width: 288px;
	}

	.footer__inner {
		max-width: 288px;

	}

	.footer__nav {
    	column-gap: 71px;
    	margin-bottom: 23px;
	}

	.footer__subscribe {
    	min-width: 288px;
		gap: 0;
	}

	.footer__subscribe_input {
		min-width: 288px;
	}

	.footer__subscribe_btn {
		display: none;
	}

	.footer__subscribe_title {
		margin-bottom: 8px;
	}

	.footer__perdata {
		margin-top: 12px;
		margin-bottom: 5px;
	}












}