/* default */
* {
	box-sizing: border-box;
	
}


body {
	font-family: "Montserrat", sans-serif;
	margin: 0;
	background-color: #FFF;
}

a {
	text-decoration: none;
	font-family: "Montserrat";
	color: #333;
}

h1, h2, h3, h4, h5, h6, p, img {
	margin: 0;
	padding: 0;
}

ul, li, ol {
	list-style: none;
}

main {
	background-image: url("../svg/Vector (1).svg"),
	url("../svg/Vector (2).svg");
	background-repeat: no-repeat, no-repeat;
	background-position: center right, bottom right;
}

/* header*/
.header {
    display: flex;
    min-height: 76px;
    align-items: center;
    justify-content: space-between;
    /*padding-left: 120px;
    padding-right: 120px;*/
    position: relative;
    max-width: 1200px;
    margin: 0 auto;

}

.header:after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	background-color: #EFF5FB;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;

}

/* button */
.header__btn {
	border-radius: 4px;
    background-color: #E3F5F5;
    width: 230px;
    min-height: 48px;
    border: solid transparent;
    color: #03B2A5;
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    transition: background .1s linear, color .1s linear;
}

.header__btn:hover {
	background-color: #d0f7f7;
}

.header__nav-btn {
display: none;
}

.btn__more {
	display: flex;
	width: 182px;
	min-height: 48px;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	border:  solid transparent;
	background-color: #35B3A9;
	font-size: 16px;
	font-weight: 700;
	color: #FFF;
	margin: 56px auto 96px;
	cursor: pointer;
	transition: background .1s linear, color .1s linear;
		
}

.btn__more:hover {
	background-color: #43d9cc;
}

/*links*/
.header__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 31px;
    cursor: pointer;
}

a.header__link {
	font-size: 14px;
    color: #333;
    text-decoration: none;
    font-weight: 500;
}

a.header__link:hover {
	color: #16C8BB;
}

.img{
	margin-bottom: -3px;
	margin-left: 3px;

}


/* breadcrumbs */

.breadcrumbs__list {
	display: flex;
    align-items: flex-start;
    margin-top: 16px;
    padding: 0;
    margin-bottom: 0;
    list-style: none;
    font-family: "Montserrat";
	font-size: 12px;
	font-weight: 400;
	font-style: normal;

}

a.braedcrumbs__link{
	text-decoration: none;
	color: rgba(51, 51, 51, 0.70);
	font-size: 12px;
}

a.braedcrumbs__link:hover {
	text-decoration: underline;
}


/* container*/

.container {
	max-width: 1200px;
	margin: 0 auto;

}

/* content */
 .content {
 	display: grid;
 	grid-template-columns: 57.5% 1fr;
 }

/* article */

.article {
	display: flex;
	flex-direction: column;
}

 .article__title {
 	font-size: 48px;
 	font-weight: 700;
 	line-height: 56px;
 	margin-top: 54px;
 }

.article__author {
	font-size: 14px;
	font-weight: 400;
	color: #494949;
	display: flex;
	gap: 8px;
	margin: 16px 0 24px 0;

}

.article__author_mob,
.mob414, .img960, .mob320,
.imob414 {
	display: none;
}


.author:after {
	content: "·";
	color: #494949;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	margin-left: 8px;
}

.article__image {
	width: 100%;	
}

/* содержание */

.article__con {
	font-size: 16px;
	font-weight: 700;
	color: #333;
	margin-top: 24px;
	margin-bottom: 16px;

}

.con {
	padding: 0;
	margin: 0;
}

.con__list {
	position: relative;
	padding-left: 33px;
}

.Agf {
	margin-bottom: 8px
}

.con__list::before {
	content: url("../svg/liststyle.svg");
	position: absolute;
	top: 0;
	left: 0;
}

.con__text {
	font-size: 16px;
	font-weight: 500;
	text-decoration-line: underline;
	color: #333;
	line-height: 24px;
}

.con__text:hover{
	color: #2963A3;
}


/* h3 */

 .title3 {
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	color: #333;
}

.Klg {
	margin-bottom: 16px;
	margin-top: 16px;
}

.paragraph {
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	color: #333;
}

#bl {
	margin-bottom: 40px;
}

#on {
	margin-bottom: 32px;
}

.article__wrap {
	max-width: 690px;
	display: flex;
	padding: 24px;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	border-radius: 16px;
	background-color: #F3F7FE;
	position: relative;
	margin-bottom: 16px;

}

.wrap__paragraph {
	color: #333;
	font-size: 16px;
	font-style: italic;
	font-weight: 400;
	line-height: 24px;
}

.quotes {
	background-image: url("../svg/quotes.svg");
	background-position: top left;
	background-repeat: no-repeat;
}

.Vbn {
	margin: 16px 0 16px 0;
}

.Trw {
	margin-top: 8px;
}

.wrap__author {
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	color: #333;
}

.wal {
	margin-top: 24px;
	margin-bottom: 16px;
}

.imgbott {
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.25px;
	color: #868686;
	margin-bottom: 24px;
}

.discon {
	display: flex;
	margin: 24px 0 24px 0;
	position: relative;
	background-image: url("../svg/Vector.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.discon__par {
	margin: 24px 104px 48px 102px;
}

.Kth {
	text-align: center;
}

.Mb {
	margin-bottom: 24px;
}

.article__col-2 {
	display: flex;
	flex-direction: row;
	gap: 24px;
	margin-bottom: 24px;
}


.article__wrap2 {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
	border-radius: 16px;
	background: #FEFAEC;
	padding: 24px;
	margin-bottom: 24px;
}

.lasex {
	background: rgba(3, 178, 165, 0.10);;
}

.exercise {
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}

.article__row-2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 24px;
	
}

.article__row-2-flex {
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin-bottom: 24px;
}


.Mt {
	margin-top: 24px;
}

.article__nav {
	display: flex;
	align-items: flex-start;
	gap: 8px;
}

.nav__lin {
	display: flex;
	color: #2963A3;
	font-size: 14px;
	font-weight: 400;
}

.nav__lin:hover {
	text-decoration: underline;
	color: #2963A3;
}

/*.nav__lin::after {
	content: ".";
	color: #494949;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
}*/

/* wrap info card */
.wrap__info {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

/* team */

.info__card {
	border-radius: 16px;
	background: #E6F0FD;
	max-width: 282px;
	min-height: auto;
	margin-bottom: 24px;
	margin-top: 54px;


}

.info__image {
	display: flex;
	flex-direction: column;
	padding: 24px 12.5px 0 12.5px;
}

.info__text {
	padding-right: 24px;
	padding-left: 24px;
}

.title4 {
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	margin: 24px 0 11px 0;
}

.info__par {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: #333;
	text-align: center;
	margin-bottom: 24px;

}

.info__btn {
    display: flex;
    min-width: 234px;
    min-height: 48px;
    padding: 12px 16px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: transparent;
    background-color: #35B3A9;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    margin: 24px;
    cursor: pointer;
    transition: background .1s linear, color .1s linear;
}

.info__btn:hover {
	background-color: #43d9cc;
}

/* info card face */

.info__card_face {
	border-radius: 16px;
	border: 1px solid #DEDEDE;
	background: #fff;
	max-width: 282px;
	min-height: auto;
	position: relative;
	margin-bottom: 28px;


}

.face {
	position: relative;

}

.teg {
	position: absolute;
	z-index: 1;
	display: flex;
	flex-direction: column;
	top: 16px;
	left: 16px;
	padding: 0;
	margin: 0;
	gap: 8px;
}
	
.teg__teg {
	display: flex;
	border-radius: 6px;
	background: #F3F4F8B2;
	font-size: 12px;
	font-weight: 500;
	color: #333;
	line-height: 18px; /* 150% */
	letter-spacing: 0.25px;
	background-position: 6px center;
	background-repeat: no-repeat;
	overflow-x: auto;
}

.icon_let {
	padding: 0 6px 0 24px;
	background-image: url("../svg/letter.svg");
}

.icon_cam {
	padding: 0 6px 0 24px;
	background-image: url("../svg/camera.svg");
	align-self: flex-start;
}

.info_img {
	border-radius: 50%;
	border: none;
	margin: 24px 81px 16px 81px;

}

.info__card_container {
	padding: 0 16px 36px 16px;
}

.title4_face {
	font-size: 20px;
	font-weight: 700;
	line-height: 28px;
	text-align: center;
	color: #333;
}

.p_face {
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	text-align: center;
	color: #333;
	margin-bottom: 4px;
}

.expe {
	display: flex;
	justify-content: center;
	gap: 8px;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	color: #A2A7B1;
}

.aft::after {
	content: url(../svg/bfr.svg);
	padding-left: 8px;
}

.un {
	max-width: 250px;
	height: 1px;
	background: #FFF;
	box-shadow: 0px 1px 0px 0px #DEDEDE;
	border: none;
	margin: 16px 0 16px 0;
}



.pp_face {
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	color: #333;
	margin-bottom: 8px;
}

.Con__text {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	margin-bottom: 8px;

}


.Con__list {
	position: relative;
	padding-left: 24px;

}

.Con__list::before {
	content: url("../svg/liststyle.svg");
	position: absolute;
	top: 0;
	left: 0;
}

.face__btn{
	display: flex;
    min-width: 250px;
    min-height: 48px;
    padding: 12px 16px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: transparent;
    background-color: #35B3A9;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    margin: 12px 0 0 0;
    cursor: pointer;
    transition: background .1s linear, color .1s linear;
}

.face__btn:hover {
	background-color: #43d9cc;
}

/*info cart presents*/

.info__card_pres {
	border-radius: 16px;
	background-color: #2963A3;
	max-width: 282px;
	min-height: 292px;
	background-image: url(../svg/confi.svg), 
	url(../svg/presents.svg);
	background-repeat: no-repeat, no-repeat;
	background-position: top, bottom;
	margin-bottom: 42px;

}

.par_pres {
	text-align: center;
	color: #fff;
	font-size: 32px;
	font-weight: 700;
	line-height: 40px;
	padding: 60px 24px 12px 24px;
}

/* info card video-session */

.info__card_sess {
	max-width: 282px;
	min-height: 304px;
	border-radius: 24px;
	background-color: #FFF;
	border: 1px solid #DEDEDE;
	background-image: url(../svg/box.svg);
	background-repeat: no-repeat;
	background-position: bottom right;


}

.sess_con {
	display: flex;
	flex-direction: column;
    padding: 32px;
    gap: 16px;

}

.pp_sess {
    display: flex;
    align-items: baseline;
    justify-content: left;
    gap: 4px;
	color: #2963A3;
	
}

.num {
	font-size: 24px;
	font-weight: 700;
	line-height: 32px; 

}

.txt {
	font-size: 18px;
	font-weight: 700;
	line-height: 26px;
	
}

.open {
	color: #011632;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}

.summ {
	color: #333;
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	
}

.buy {
	max-width: 108px;
	min-height: 48px;
	border-radius: 4px;
	background-color: #35B3A9;
	border: none;
	color: #FFF;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	transition: background .1s linear, color .1s linear;
	cursor: pointer;
}

.buy:hover {
	background-color: #43d9cc;
}

/* under_content-line */

.under_content-line {
	display: block;
	color: #DEDEDE;
	max-width: 100%;
	height: 1px;
	margin: 48px 0 72px 0;
	opacity: 0.3;
}

/* conclusion */

.conclusion {
	display: flex;
	gap: 303px;
	margin-bottom: 108px;

}

.conclusion__wrap {
    display: flex;
    flex-direction: column;
    max-width: 348px;
    min-height: 280px;

}

.conclusion__title {
	color: #333;
	font-size: 48px;
	font-weight: 700;
	line-height: 56px;
	margin-bottom: 24px;
}

.conclusion__par {
	color: #333;
	font-size: 18px;
	font-weight: 400;
	line-height: 26px;
	margin-bottom: 32px;
}

.conclusion__btn {
	border-radius: 4px;
	background-color: #16C8BB;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	padding: 20px 24px;
	border: none;
	max-width: 238px;
	min-height: 60px;
	transition: background .1s linear, color .1s linear;
}

.conclusion__btn:hover {
	background-color: #43d9cc;
}


.conclusion__img {
	background-image: url("../svg/peop.svg");
	background-repeat: no-repeat;

}

/* footer */

.footer {
	background-color: #2963A3;
	padding-top: 40px;
}

.footer__container {
	max-width: 1200px;
	min-height: 184px;
	margin: 0 auto;
	position: relative;
}

.footer__inner {
	display: grid;
	grid-template-columns: repeat(4, 1fr);

}

.footer__nav {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.footer__nav_links {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	transition: background .1s linear, color .1s linear;
}

.footer__nav_links:hover {
	color: #dfe3f0;
}

a.footer__nav_links {
	margin-right: 93px;
	text-wrap: nowrap;
	line-height: 24px;

}

.footer__subscribe {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-width: 486px;
	max-height: 170px;
	row-gap: 8px;
	position: relative;
	margin-right: 93px;
}

.footer__subscribe_title {
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	line-height: 26px;

}

.footer__perdata {
	font-size: 12px;
	font-weight: 400;
	color: #fff;
	letter-spacing: 0.25px;
	opacity: 0.7;
	line-height: 18px;
}

.footer__subscribe_form {
	display: inline-flex;

}

.footer__subscribe_input {
	min-width: 348px;
	min-height: 48px;
	border-radius: 4px;
	border: 1px solid rgba(157, 157, 157, 0.20);
	background-color: #fff;
	font-family: "Montserrat";
	font-size: 14px;
	font-weight: 400;
	padding: 14px 52px 14px 16px;
	outline: none;
	position: relative;
}

.footer__subscribe_btn {
	background-repeat: no-repeat;
	border: none;
	background-color: transparent;
	cursor: pointer;
	margin: 0;
	padding: 14px 20px;
	border-radius: 4px;
	background: #16C8BB;
	position: absolute;
	right: 105px;
	max-height: 48px;
}


.footer__socials {
	display: flex;
	flex-direction: column;
	row-gap: 40px;
}

.socials__logo {
	min-width: 221px;
	min-height: 50px;
	background-image: url("../svg/sk.svg");
	background-repeat: no-repeat;
}

.socials__network {
    display: flex;
    gap: 16px;
	/*min-width: 176px;
	min-height: 32px;*/
}

.network {
	min-width: 32px;
	min-height: 32px;
}

.network_vk {
	background-image: url("../svg/vk.svg");
}

.network_tg {
	background-image: url("../svg/telegram.svg");
}

.network_tw {
	background-image: url("../svg/twitter.svg");
}

.network_dz {
	background-image: url("../svg/yandex.svg");
}

.footer_line {
	display: block;
	color: #9D9D9D;
	width: 100%;
	height: 1px;
	opacity: 0.3;
	margin: 20px 0 16px 0;
}

.end {
	display: flex;
	gap: 48px;
	font-size: 14px;
	font-weight: 400;
	opacity: 0.7;
	color: #FFFFFF;
}